<html>
<head>
	<meta charset="utf-8">
	<title>BrainWu Blog</title>
	<script language="JavaScript" src="/view/ckeditor/ckeditor.js"></script>
	<link rel="stylesheet" href="/static/css/editor.css">
</head>
<body>
	<form action="/editor" method="post" >
        标题 :  <input type="text" style="width: 900px;" name="title">
		<p>
			<textarea  class="ckeditor" cols="10" id="editor1" name="editor1" rows="20">
			</textarea>
		</p>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>
</body>
</html>
