{{define "header"}}
<div id="header">
    <div id="header-content">
        <h1 onclick="home()" onmouseover="this.style.cursor='hand'">Brain Wu Home</h1>
        <hr style="width: 590px; margin-top: 5px;">
        <span>When you are desiring success as stong as breathing, you'll achieve it eventually.</span>
    </div>
</div>
{{end}}
