{{define "nav"}}
<div id="nav">
    <div id="nav-content">
        <ul>
            <li onmouseover="this.style.cursor='hand'"><span>文章列表</span></li>
            <li onmouseover="this.style.cursor='hand'"><span>相册</span></li>
            <li onclick="about()" onmouseover="this.style.cursor='hand'"><span>关于</span></li>
            <li onmouseover="this.style.cursor='hand'"><span>友情链接</span></li>
            <li onmouseover="this.style.cursor='hand'"><span>新浪微博</span></li>
            <li onmouseover="this.style.cursor='hand'"><span>留言板</span></li>
        </ul>
    </div>
</div>
{{end}}